
.sprite-icon {
  background-image: url(../img/sprite-icon.png);
}

.icon-data {
  width: 32px;
  height: 32px;
  background-position: -37px -34px;
}

.icon-heart {
  width: 37px;
  height: 33px;
  background-position: -0px -0px;
}

.icon-link {
  width: 32px;
  height: 34px;
  background-position: -37px -0px;
}

.icon-lock {
  width: 29px;
  height: 36px;
  background-position: -69px -0px;
}

.icon-pie {
  width: 32px;
  height: 32px;
  background-position: -98px -0px;
}

.icon-search {
  width: 34px;
  height: 35px;
  background-position: -0px -33px;
}
