
@keyframes sprite-piglet {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1680px 0px;
  }
}

.sprite-piglet {
  width: 240px;
  height: 240px;
  background-image: url(../img/sprite-piglet.png);
  background-size: 1920px 100%;
  animation-name: sprite-piglet;
  animation-duration: 640ms;
  animation-timing-function: steps(7);
  animation-fill-mode: forwards;
  
  animation-iteration-count: infinite;
    
}
